h1 {
    color: green !important;
}

body {
    background-color: #fafafa;
}

.navbar {
    background-color: #ffffff !important;
}

.navbar-brand {
    font-style: italic !important;
    font-family: Inter, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, Sans-Serif;
}

#navbarSupportedContent {
    margin-left: 25vw;
}

.nav-item {
    padding-right: 3vw;
}

.home {
    margin-left: 4vw !important;
}

.nav-link {
    color: #000 !important;
    font-size: 1.3vw;
    font-weight: bold !important;
}

.nav-link svg {
    color: black !important;
    font-size: 1.5vw;
    font-weight: bold !important;
}

.searchfrm {
    width: 18vw !important;
    height: 2.7vw;
    margin-top: 0.5vw;
    margin-right: 9vw;
}

.searchfrm input {
    background-color: #efefef !important;
}

#post {
    border-radius: 10px;
    margin-top: 1vw;
    height: 120vh;
}

#post .head {
    height: 5vw;
}

#post img {
    height: 90vh;
    object-fit: cover;
}

#post svg {
    font-size: 1.8vw;
    margin-left: 1.1vw;
}

#post .save {
    margin-left: 26vw !important;
}

#post .captionImg {
    margin-left: 1.4vw;
}

.post-form,
.loginfrm,
.registerfrm {
    width: 40vw !important;
    margin: 0 auto;
    box-shadow: 1px 1px 5px grey;
    height: 66vh;
    margin-top: 4vw;
    border-radius: 10px;
    padding-left: 5vw;
    padding-top: 3vw;
}

.post-form input,
.loginfrm input,
.updatefrm input,
.registerfrm input {
    width: 90%;
}

.post-form label,
.loginfrm label,
.updatefrm label,
.registerfrm label {
    color: rgb(124, 7, 95);
}

.post-form .btn,
.registerfrm .btn,
.updatefrm .btn,
.loginfrm .btn {
    background-color: rgb(124, 7, 95) !important;
}

.loginp {
    color: rgb(124, 7, 95);
    /* margin-top: 2vw; */
}

.loginfrm .btn-sm,
.registerfrm .btn-sm,
.updatefrm .btn-sm {
    background-color: rgb(124, 7, 95) !important;
    font-size: 1.4vw;
}

.registerfrm {
    height: 90vh;
}

.text-muted {
    display: none;
}

.profdecks {
    display: flex !important;
}