h1 {
    color: green !important;
}

body {
    background-color: #fafafa;
    box-shadow: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar {
    background-color: #ffffff !important;
}

.navbar-brand {
    font-style: italic !important;
    padding-left: 14vw;
    font-family: Inter, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, Sans-Serif;
}

#navbarSupportedContent {
    margin-left: 25vw;
}

.nav-item {
    padding-right: 3vw;
}

.nav-link {
    color: #000 !important;
    font-size: 1.3vw;
    font-weight: bold !important;
}

.nav-link svg {
    color: black !important;
    font-size: 1.5vw;
    font-weight: bold !important;
}

.searchfrm {
    width: 18vw !important;
    height: 2.7vw;
    margin-top: 0.5vw;
    margin-right: 9vw;
}

.searchfrm input {
    background-color: #efefef !important;
    border-radius: 5px !important;
}

#post {
    border-radius: 10px;
    margin-top: 1vw;
    height: 120vh;
}

#post .head {
    height: 5vw;
}

#post img {
    height: 90vh;
    object-fit: cover;
}

#post svg {
    font-size: 1.8vw;
    margin-left: 1.1vw;
}

#post .save {
    margin-left: 26vw !important;
}

#post .captionImg {
    margin-left: 1.4vw;
}

.post-form,
.loginfrm,
.registerfrm {
    width: 40vw !important;
    margin: 0 auto;
    box-shadow: 1px 1px 5px grey;
    height: 66vh;
    margin-top: 4vw;
    border-radius: 10px;
    padding-left: 5vw;
    padding-top: 3vw;
}

.post-form input,
.loginfrm input,
.updatefrm input,
.registerfrm input {
    width: 90%;
}

.post-form label,
.loginfrm label,
.updatefrm label,
.registerfrm label {
    color: rgb(124, 7, 95);
}

.post-form .btn,
.registerfrm .btn,
.updatefrm .btn,
.loginfrm .btn {
    background-color: rgb(124, 7, 95) !important;
}

.loginp {
    color: rgb(124, 7, 95);
    /* margin-top: 2vw; */
}

.loginfrm .btn-sm,
.registerfrm .btn-sm,
.updatefrm .btn-sm {
    background-color: rgb(124, 7, 95) !important;
    font-size: 1.4vw;
}

.registerfrm {
    height: 90vh;
}

.text-muted {
    display: none;
}

.profdecks {
    display: flex !important;
}

.profpic .card-img-top {
    width: 12vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 50%;
}

.profpic {
    display: flex !important;
    flex-direction: row;
}

.profpic img {
    margin-right: 9vw;
}

.profpost {
    display: flex;
    flex-direction: row;
    margin-top: 3vw;
}

#profpost {
    width: 28vw !important;
    margin-right: 3vw;
}

.profpost img {
    width: 100% !important;
}

#profpost svg {
    font-size: 1.8vw;
    margin-left: 1.1vw;
}

#profpost .save {
    margin-left: 26vw !important;
}

#profpost .captionImg {
    margin-left: 1.4vw;
}

#homeprof {
    height: 10vw;
    background-color: #fafafa;
}

#homeprof img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-left: 2vw;
}

#homeprof {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.followers li {
    list-style: none;
}

.followers .btn {
    width: 6vw;
}

.followuser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.2vw;
}

.followuser img {
    width: 2vw !important;
    height: 2vw !important;
    border-radius: 50% !important;
}

.followuser a {
    text-decoration: none !important;
}

.followuser .username {
    color: black;
}

.followers ul p {
    color: #9b9b9b;
}

#liked {
    display: none;
}