h1 {
    color: green !important;
}

.navbar {
    background-color: rgb(100, 12, 78) !important;
}

#navbarSupportedContent {
    margin-left: 25vw;
}

.nav-item {
    padding-right: 3vw;
}

.nav-link {
    color: white !important;
    font-size: 1.3vw;
    font-weight: bold !important;
}

.nav-link svg {
    color: white !important;
    font-size: 2.3vw;
    font-weight: bold !important;
}

.searchfrm {
    width: 14vw !important;
    height: 2.7vw;
    margin-top: 0.5vw;
}

.account {
    margin-left: 17vw !important;
}

.post-form {
    width: 40vw !important;
    margin: 0 auto;
    box-shadow: 1px 1px 5px grey;
    height: 66vh;
    margin-top: 4vw;
    border-radius: 10px;
    padding-left: 5vw;
    padding-top: 3vw;
}

.post-form input {
    width: 90%;
}

.post-form label {
    color: rgb(124, 7, 95);
}

.post-form .btn {
    background-color: rgb(124, 7, 95) !important;
}