<div class="col-lg-3 homeprof">
        <div class="card" id="homeprof">
          <img
            class="card-img-top"
            src="{{user.profile.profile_image.url}}"
            alt=""
          />
          <div class="card-body flex">
            <div class="details">
              <p class="card-title">{{user.username}}</p>
              <p class="card-title">{{user.first_name}} {{user.second_name}}</p>
            </div>
          </div>
        </div>
        <div class="followers">
          <ul>
            <p>Suggestions for you</p>
            {%for userone in users%}
            {% if userone != current_user%}
            <li class="followuser">
              <img src="{{userone.profile.profile_image.url}}" />
              <a class="username" href="{{userone.profile.profile_}}""">{{userone.username}}</a>
              <a href="{{user.profile}}">Follow</a>
            </li>
          {%endif%}
            {%endfor%}
          </ul>
        </div>
      </div>