{%extends 'base.html'%} {%block content%}
<div class="row">
  <div class="col-lg-3"></div>

  <div class="col-lg-6">
    {% if profiles%} {%for post in profiles%}

    <div class="card" id="postprofuser">
      <img
        class="card-img-top"
        data-bs-toggle="modal"
        src="{{post.user.profile.profile_image.url}}"
        alt=""
      />
      <h2 class="text-center">{{post.user.profile.user}}</h2>
    </div>
    {%endfor%} {% else %}
    <h2 class="text-center">
      Found 0 profiles for the search term {{message}}
    </h2>
    {% endif %}
  </div>
  <div class="col-lg-3"></div>
</div>

{%endblock%}
